# Dependencies
node_modules/
.pnpm-store/
/.pnp
.pnp.*

# Testing / misc
/coverage
*.pem

# Next.js
.next/
out/
build/
dist/

# Env files
.env
.env.local
.env.development.local
.env.production.local
!.env.example

# Supabase
.supabase/
supabase/.temp/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts
